name: Test and Build

# Este workflow se ejecutará cada vez que se realice un push a la rama "main"
on:
    push:
        branches: [ "main" ]

# Permisos para leer el contenido del repositorio, necesario para ejecutar las acciones de CI/CD
permissions:
    contents: read

jobs:
    test_and_build: # Nombre del trabajo
        runs-on: ubuntu-latest # El trabajo se ejecutará en un entorno de Ubuntu
        steps: # Pasos a seguir para ejecutar el trabajo
            - uses: actions/checkout@v4
            - name: Set up Python 3.11 # Configura el entorno de Python 3.11
              uses: actions/setup-python@v3
              with:
                python-version: "3.11"
            - name: Install dependencies # Instala las dependencias necesarias para ejecutar las pruebas
              run: pip install -r requirements.txt
            - name: Test with pytest # Ejecuta las pruebas utilizando pytest
              working-directory: src # Directorio donde se encuentran las pruebas
              run: pytest tests.py